.btn {
    padding: 10px 20px;
    border: 0ch;
    background-color: aliceblue;
    color: black;
}

.btnTwo {
    padding: 5px 10px;
    border: 0cm;
    border-radius: 10pxx;
    background-color: brown;
    color: burlywood;
}
